/* Hint: Use Themify to customize the look of your Blue app! */

@import "./theme";

/* Stylesheet for blue-react. Already contains Bootstrap. */
@import "~blue-react/dist/style.scss";

/* Make look Bootstrap Icons a little bit better */
.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}
